@use "variables";

.about {
    padding: 4vw;
    margin-top: 80px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;

    @media (max-width: variables.$breakpoint-desktop) {
        min-height: 50vh;
        margin-top: 0;
        padding: 6vw;
        padding-top: 0;
    }

    @media (max-width: variables.$breakpoint-desktop) {
        padding-top: 6vw;
    }

    &__content {
        display: flex;
        align-items: center;
        margin: 0 24px;

        @media (max-width: variables.$breakpoint-desktop) {
            flex-direction: column;
        }

        @media (max-width: variables.$breakpoint-mobile) {
            width: 100%;
            margin: 8px;
        }

        &__img {
            width: 40%;
            height: 800px;
            object-fit: cover;
            margin-right: 60px;
            border-radius: 30px;

            @media (max-width: variables.$breakpoint-desktop) {
                visibility: hidden;
                height: 0;
            }
        }

        &__description {
            &__paragraph {
                margin-bottom: 24px;

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
}
