@use "variables";

.awards-and-reviews {
    padding: 4vw;
    text-align: center;

    @media (max-width: variables.$breakpoint-desktop) {
        padding: 6vw;
    }

    .awards,
    .reviews {
        h3 {
            font-size: 42px;
            color: #fff;
            font-weight: normal;
            letter-spacing: 2px;
            margin: 80px 160px;
            border-bottom: 2px solid;
        }

        &__card {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            @media (max-width: variables.$breakpoint-desktop) {
                flex-direction: column;
            }

            &__item {
                width: 40%;
                margin: 1em;
                padding: 1em;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
                transition: 0.3s;

                @media (max-width: variables.$breakpoint-desktop) {
                    width: 80%;
                    margin: 40px auto;
                }

                &:hover {
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
                }

                a {
                    text-decoration: none;
                    color: #fff;

                    img {
                        width: 150px;
                        height: 150px;
                        margin: 24px 0;
                    }

                    h4 {
                        margin-bottom: 24px;
                    }

                    li {
                        text-align: start;
                        margin-left: 32px;
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}
