@use "variables";

//TODO:
// Transição do menu-toggle ao abrir e fechar

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: transparent;
    transition: background-color 0.5s ease;

    &--is-shown {
        background-color: rgba(0, 0, 0, 0.9);
    }

    &__brand {
        img {
            width: 50px;
        }
    }

    &__menu {
        list-style: none;
        display: flex;

        @media (max-width: variables.$breakpoint-tablet) {
            display: none;
        }

        li {
            margin-left: 40px;

            @media (max-width: variables.$breakpoint-tablet) {
                margin: 0 40px 12px 0;

                &:last-child {
                    margin-bottom: 24px;
                }
            }
        }

        a {
            color: #fff;
            text-decoration: none;
            font-size: 24px;
            transition: color 0.3s;

            &:hover {
                color: #b590e0;
            }

            @media (max-width: variables.$breakpoint-tablet) {
                font-size: 20px;
            }
        }

        &.active {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            background-color: inherit;
        }
    }

    &__menu-toggle {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        height: 24px;
        cursor: pointer;

        @media (max-width: variables.$breakpoint-tablet) {
            display: flex;
        }

        .bar {
            width: 30px;
            height: 4px;
            background-color: #fff;
        }
    }
}
