@use "variables";
@use "header";
@use "hero";
@use "about";
@use "characters";
@use "awards-reviews";

@font-face {
    font-family: "Papyrus";
    src: url("../../assets/fonts/PAPYRUS.TTF");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Papyrus", fantasy;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: variables.$bgColor;
}

.text {
    font-size: 28px;
    color: #fff;
    font-weight: normal;
    letter-spacing: 2px;

    @media (max-width: variables.$breakpoint-mobile) {
        font-size: 14px;
    }
}

.section-title {
    display: flex;
    justify-content: center;
    margin: 0 12% 60px;
    padding: 48px 0;
    background-color: rgba($color: #000, $alpha: 0.3);
    border-radius: 30px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;

    @media (max-width: variables.$breakpoint-tablet) {
        font-size: 1.8em;
    }

    @media (max-width: variables.$breakpoint-mobile) {
        font-size: 1em;
        padding: 24px 0;
        margin: 0 0 24px;
    }
}

#about,
#characters,
#awards-reviews {
    padding-top: calc(110px + 4vw);
    margin-top: -110px;

    @media (max-width: variables.$breakpoint-desktop) {
        padding-top: calc(100px + 6vw);
    }

    @media (max-width: variables.$breakpoint-mobile) {
        padding-top: calc(60px + 6vw);
        margin-top: -60px;
    }
}
